<footer class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="all-top-foot">
        <a href="index.html" class="logo"><span>LOGO</span></a>
      <nav>
        <ul>
          <li><a href="index.html">Главная</a></li>
          <li class="catalog-mob1">
            <a href="javasctipt:void(0).html">
            Каталог
            <img src="img/gr-arrow.png" alt="" class="arr">
          </a>
          <ol>
            <li><a href="catalog.html">Игрушки</a></li>
            <li><a href="catalog.html">Фурнитура</a></li>
            <li><a href="catalog.html">Букеты</a></li>
          </ol></li>
          <li><a href="pay.html">Оплата</a></li>
          <li><a href="delivery.html">Доставка</a></li>
        </ul>
        <ul>
          <li class="info-mob1">
            <a href="javascript:void(0)">
              Информация
              <img src="img/gr-arrow.png" alt="" class="arr">
            </a>
            <ol>
              <li><a href="warranty.html">Гарантийные обязательства</a></li>
              <li><a href="#">Условия возврата/обмена</a></li>
              <li><a href="map-of-site.html">Карта сайта</a></li>
            </ol>
          </li>
          <li><a href="about-company.html">О компании</a></li>
          <li><a href="sale.html">Акции</a></li>
          <li><a href="contact.html">Контакты</a></li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="all-bot-foot">
        <a href="javascript:void(0)" class="polit">Политика конфиденциальности</a>

        <div class="info-block long-info-block">
          <span class="circle">
            <img src="img/clock.png" alt="">
          </span>
          <div class="on-hover grafik">
            <p>Режим работы склада: <span>Пн - Пт с 7.00 до 18.00</span> </p>
          </div>
        </div>

        <div class="info-block">
          <span class="circle">
            <img src="img/phone.png" alt="">
          </span>
          <div class="on-hover">
            <a href="tel:'8-800-123-45-67'">8-800-123-45-67</a>
          </div>
        </div>

        <div class="social">
          <a href="">
            <img src="img/inst.png" alt="">
          </a>
          <a href="">
            <img src="img/facebok.png" alt="">
          </a>
          <a href="">
            <img src="img/vk.png" alt="">
          </a>
          <a href="">
            <img src="img/youtube.png" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>
</footer>