<header class="header">
  <div class="top-header log">
    <div class="container">
      <div class="all-top">
        <a href="index.html" class="logo">LOGO</a>
        <div class="info-block long-info-block">
          <span class="circle">
            <img src="img/clock.png" alt="">
          </span>
          <div class="on-hover grafik">
            <p>Режим работы склада: <span>Пн - Пт с 7.00 до 18.00</span> </p>
          </div>
        </div>
        <div class="info-block">
          <span class="circle">
            <img src="img/phone.png" alt="">
          </span>
          <div class="on-hover">
            <a href="tel:'8-800-123-45-67'">8-800-123-45-67</a>
          </div>
        </div>
        
        <div class="social-desk social">
          <a href="#">
            <img src="img/inst.png" alt="">
          </a>
          <a href="#">
            <img src="img/facebok.png" alt="">
          </a>
          <a href="#">
            <img src="img/vk.png" alt="">
          </a>
          <a href="#">
            <img src="img/youtube.png" alt="">
          </a>
        </div>

        <div class="info-block last-info-block">
          <span class="circle">
            <img src="img/person.png" alt="">
          </span>
          <div class="on-hover">
            <p class="fl">
              <span class="entry">Вход </span>
              <span> / </span>
              <span class="registration"> Регистрация</span>
              <strong><a href="personal-area.html">Марья Ивановна</a></strong>
            </p>
          </div>
        </div>

        <div class="burger">
          <img src="img/burger.png" alt="" class="open">
          <nav>
            <img src="img/+.png" alt="" class="close-nav">
            <ul>
              <li><a href="index.html">Главная</a></li>
              <li class="catalog-mob">
                <a href="javascript:void(0)">
                  Каталог
                  <img src="img/gr-arrow.png" alt="" class="arr">
                </a>
                <ol>
                  <li><a href="catalog.html">Игрушки</a></li>
                  <li><a href="catalog.html">Фурнитура</a></li>
                  <li><a href="catalog.html">Букеты</a></li>
                </ol>
              </li>
              <li><a href="pay.html">Оплата</a></li>
              <li><a href="delivery.html">Доставка</a></li>
            </ul>
            <ul>
              <li class="info-mob">
                <a href="javascript:void(0)">
                  Информация
                  <img src="img/gr-arrow.png" alt="" class="arr">
                </a>
                <ol>
                  <li><a href="warranty.html">Гарантийные обязательства</a></li>
                  <li><a href="warranty.html">Гарантийные обязательства</a></li>
                  <li><a href="map-of-site.html">Карта сайта</a></li>
                </ol>
              </li>
              <li><a href="about-company.html">О Компании</a></li>
              <li><a href="sale.html">Акции</a></li>
              <li><a href="contact.html">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="bot-header">
    <div class="container">
      <div class="all-bot">

        <nav>
          <ul>
            <li><a href="index.html">Главная</a></li>
            <li class="catalog-mob">
              <a href="javascript:void(0)">
                Каталог
                <img src="img/gr-arrow.png" alt="" class="arr">
              </a>
              <ol>
                <li><a href="catalog.html">Игрушки</a></li>
                <li><a href="catalog.html">Фурнитура</a></li>
                <li><a href="catalog.html">Букеты</a></li>
              </ol>
            </li>
            <li><a href="pay.html">Оплата</a></li>
            <li><a href="delivery.html">Доставка</a></li>
            <li class="info-mob">
              <a href="javascript:void(0)">
                Информация
                <img src="img/gr-arrow.png" alt="" class="arr">
              </a>
              <ol>
                <li><a href="warranty.html">Гарантийные обязательства</a></li>
                <li><a href="#">Условия возврата/обмена</a></li>
                <li><a href="map-of-site.html">Карта сайта</a></li>
              </ol>
            </li>
            <li><a href="about-company.html">О компании</a></li>
            <li><a href="sale.html">Акции</a></li>
            <li><a href="contact.html">Контакты</a></li>
          </ul>
        </nav>

        <div class="social-mob social">
          <a href="">
            <img src="img/inst.png" alt="">
          </a>
          <a href="">
            <img src="img/facebok.png" alt="">
          </a>
          <a href="">
            <img src="img/vk.png" alt="">
          </a>
          <a href="">
            <img src="img/youtube.png" alt="">
          </a>
        </div>

        <div class="search-basket">
          <div class="search">
            <input type="text" name="" id="" placeholder="Поиск по сайту">
            <div class="button-circle">
              <img src="img/search.png" alt="">
            </div>
          </div>

          <div class="all-basket" onclick="document.location.href='basket.html'">
            <div class="basket">
              <img src="img/basket.png" alt="">
              <div class="num">
                <h6>2</h6>
              </div>
            </div>
            <div class="basket-info">
              <h6>В корзине</h6>
              <div class="count-price">
                <h6>4 товара, <span>1 500 руб</span> </h6>
              </div>
            </div>
            <div class="hover-bask">
              <div class="one-prod">
                <div class="delete-product-head">
                  <img src="img/+1.png" alt="">
                </div>
                <a href="one-product.html" class="img">
                  <img src="img/flower4.png" alt="">
                </a>
                <a href="one-product.html" class="links-pr">
                  <h5>Лента атласная</h5>
                  <h6>Голубая</h6>
                </a>
                <div class="price-count">
                  <strong>2 490 р.</strong>
                  <span>3 шт.</span>
                </div>
              </div>
              <div class="one-prod">
                <div class="delete-product-head">
                  <img src="img/+1.png" alt="">
                </div>
                <a href="one-product.html" class="img">
                  <img src="img/flower4.png" alt="">
                </a>
                <a href="one-product.html" class="links-pr">
                  <h5>Лента атласная</h5>
                  <h6>Голубая</h6>
                </a>
                <div class="price-count">
                  <strong>2 490 р.</strong>
                  <span>3 шт.</span>
                </div>
              </div>
              <div class="one-prod">
                <div class="delete-product-head">
                  <img src="img/+1.png" alt="">
                </div>
                <a href="one-product.html" class="img">
                  <img src="img/flower4.png" alt="">
                </a>
                <a href="one-product.html" class="links-pr">
                  <h5>Лента атласная</h5>
                  <h6>Голубая</h6>
                </a>
                <div class="price-count">
                  <strong>2 490 р.</strong>
                  <span>3 шт.</span>
                </div>
              </div>
              <a href="basket.html" class="button">Оформить заказ</a>
              <a href="catalog.html" class="go-to-catalog">Продолжить покупки</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>