<div class="back-dark-pop "></div>

<div class="pop-up entrance">
  <div class="close-pop">
    <img src="img/+1.png" alt="">
  </div>
  <div class="text-pop">
    <h3>Вход</h3>
    <form action="">
      <div class="inp">
        <input type="email" placeholder="Ваша почта">
      </div>
      <div class="inp">
        <input type="password" placeholder="Введите пароль">
        <img src="img/eye.png" alt="">
      </div>
      <a href="javascript:voi(0)" class="miss-pass pop-link">
        <span>Забыли пароль?</span> 
        <strong>Восстановить</strong>
      </a>
      <a href="personal-area.html" class="button">Войти</a>
    </form>
      <a href="javascript:void(0)" class="go-to-registr pop-link">
        <span>Нет учетной записи? </span>
        <strong>Зарегистрироваться</strong>
      </a>
  </div>
</div>

<div class="pop-up registration-pop ">
  <div class="close-pop">
    <img src="img/+1.png" alt="">
  </div>
  <div class="text-pop">
    <h3>Регистрация</h3>
    <form action="">
      <div class="inp">
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="inp">
        <input type="email" placeholder="Ваша почта">
      </div>
      <div class="inp">
        <input type="password" placeholder="Введите пароль">
        <img src="img/eye.png" alt="">
      </div>
      <a href="javascript:void(0)" class="button">Зарегистрироваться</a>
    </form>
    <a href="javascript:voi(0)" class="pop-link polit">
      <span>Регистрируясь, вы соглашаетесь с</span>
      <strong>пользовательским соглашением</strong>
    </a>
    <a href="javascript:voi(0)" class="pop-link go-to-entry">
      <span>У вас уже есть аккаунт?</span>
      <strong>Войти</strong>
    </a>
  </div>
</div>

<div class="pop-up write-review-pop">
  <div class="close-pop">
    <img src="img/+1.png" alt="">
  </div>
  <div class="text-pop">
    <h3>Вы можете оставить отзыв</h3>
    <form action="">
      <div class="inp">
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="inp">
        <input type="email" placeholder="Ваша почта">
      </div>
      <textarea placeholder="Текст сообщения"></textarea>
      <a href="javascript:void(0)" class="button">Оставить отзыв</a>
    </form>
  </div>
</div>

<div class="pop-up politic-pop">
  <div class="close-pop">
    <img src="img/+1.png" alt="">
  </div>
  <div class="text-pop">
    <h3>Политика конфиденциальности</h3>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<div class="basket-pop pop-save-order">
  <div class="close-pop">
    <img src="img/+1.png" alt="">
  </div>
  <div class="text-pop">
    <h3>Ваш заказ сохранен</h3>
  </div>
</div>

<div class="basket-pop pop-order-fine">
  <div class="close-pop">
    <img src="img/+1.png" alt="">
  </div>
  <div class="text-pop">
    <h3>Спасибо</h3>
    <h3>Ваш заказ оформлен</h3>
  </div>
</div>

